[submodule "SentinelUE4"]
	path = SentinelUE4
	url = git@github.com:BusMoneyGames/SentinelUE4.git
[submodule "SentinelVCS"]
	path = SentinelVCS
	url = git@github.com:gislikon/SentinelVCS.git
[submodule "SentinelEnvironment"]
	path = SentinelEnvironment
	url = git@github.com:BusMoneyGames/SentinelEnvironment.git
[submodule "SentinelDB"]
	path = SentinelDB
	url = git@github.com:BusMoneyGames/SentinelDB.git
[submodule "SentinelAWS"]
	path = SentinelAWS
	url = git@github.com:BusMoneyGames/SentinelAWS.git
