[submodule "SentinelUE4"]
	path = SentinelUE4
	url = git@github.com:BusMoneyGames/SentinelUE4.git
	branch = develop
[submodule "SentinelEnvironment"]
	path = SentinelEnvironment
	url = git@github.com:BusMoneyGames/SentinelEnvironment.git
	branch = develop
[submodule "SentinelDB"]
	path = SentinelDB
	url = git@github.com:BusMoneyGames/SentinelDB.git
	branch = develop
[submodule "SentinelAWS"]
	path = SentinelAWS
	url = git@github.com:BusMoneyGames/SentinelAWS.git
	branch = develop
[submodule "sentinel_vcs"]
	path = sentinel_vcs
	url = git@github.com:BusMoneyGames/sentinel_vcs.git