[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
server = "python server.py"

[packages]
gitpython = "*"
pillow = "*"
boto = "*"
"boto3" = "*"
requests = "*"
sphinx = "*"
flask = "*"
flask-restful = "*"
flask-cors = "*"
click = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3"
